In [0]:

#install depenencies
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.6.16)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [0]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"yongseng","key":"0722b0b843bb14d835dd60069ee10f5e"}'}

In [0]:
#before importing the dataset we want to use this code
\# The Kaggle API client expects this file to be in ~/.kaggle,
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os
os.chdir('/content/drive/My Drive/Colab Notebooks/carsdata')#change dir

In [0]:
#Check the directory
!pwd

/content/drive/My Drive/Colab Notebooks/carsdata

In [0]:
!kaggle datasets download -d jutrera/stanford-car-dataset-by-classes-folder

Downloading stanford-car-dataset-by-classes-folder.zip to /content/drive/My Drive/Colab Notebooks/carsdata
100% 1.82G/1.82G [00:24<00:00, 83.8MB/s]
100% 1.82G/1.82G [00:24<00:00, 78.6MB/s]

In [0]:
!unzip stanford-car-dataset-by-classes-folder.zip

Archive:  stanford-car-dataset-by-classes-folder.zip
  inflating: car_data.zip
  inflating: anno_train.csv
  inflating: names.csv
  inflating: anno_test.csv

In [0]:
!unzip car_data.zip

In [0]:
import split_folders

# Split with a ratio.
# To only split into training and validation set, set a tuple to `ratio`, i.e, `(.8, .2)`.
split_folders.ratio('/content/drive/My Drive/Colab Notebooks/carsdata/car_data/train', output='/content/drive/My Drive/Colab Notebooks/carsdata/car_data/output', seed=1337, ratio=(.8, .2)) # default values

# Split val/test with a fixed number of items e.g. 100 for each set.
# To only split into training and validation set, use a single number to `fixed`, i.e., `10`.
#split_folders.fixed('input_folder', output="output", seed=1337, fixed=(100, 100), oversample=False) # default values

In [0]:
import requests

headers = {
    'User-Agent': 'Mozilla/5',
    'Referer': 'https://shopee.com.my/search?keyword=mouse'
}

url = 'https://shopee.com.my/api/v2/search_items/?by=relevancy&keyword=mouse&limit=50&newest=50&order=desc&page_type=search&version=2'  
r = requests.get(url, headers = headers).json()

for item in r['items']:
    print(item['name'], ' ', item['price'])

Ready Stock Logitech M100r Wired Mouse M100r M-100r M 100r   5500000
CLiPtec 1200dpi 2.4GHz Wireless Optical Mouse M853   1390000
Ready Stock!!!UltraThin Wireless  Mouse 2.4G Optoelectronic Mouse Office Game Mouse   610000
2.4G Mini Wireless Keyboard Touchpad For Android TV BOX PC   1890000
Wireless Mouse 2.4Ghz Receiver Optical Adjustable Wireless Mice Rechargeable Mouse for PC Laptop   1411000
FANTECH Rhasta G10 2400DPI LED Optical 6D USB Pro Gaming Wired Mouse Free MP25   1490000
Logitech G103 Gaming Mouse. M100 M331 M330 M187 M185 B100 GAMING GAMER OPTICAL MOUSE   5888000
[*Ready Stock] Cute Cartoon Round Mouse Pad for Study and Working | Hot-selling & Various Style Available   330000
Ultra Thin USB Optical Wireless Mouse 2.4G Receiver Mouse Computer PC Laptop   553000
DELL MS111 USB2.0 Optical Wired Mouse For Computer Laptop - Black OEM   720000
KPOP BTS BT21 Wireless Silent Mouse TATA COOKY Cute Cartoon Laptop Office Mouse   1590000
(1 Year Warranty) Wired USB Mouse competitive game notebook light USB Mice   999000
Logitech M185/M186/M280 Wireless Mouse Laptop   1800000
Logitech M330 Wireless Mouse Receiver Support With USB For Laptops   1458000
Fantech Mouse Gaming X5s ZEUS Running RGB Macro FREE MOUSEPAD   3500000
PROLiNK Wireless Optical Mouse with On/Off Switch Sirim & MCMC Approval (FREE AA Battery) PMW6001   2300000
HP Wireless Mouse Computer Bluetooth Mouse Mute Mouse 1600DPI USB Receiver Mice   2790000
ALX Rechargeable Wireless Mute Gaming Mouse 6 Button LED MZ-16   2421000
Ultra Thin USB 2.4Ghz Wireless Mouse Optical Gaming Slim Receiver for PC Laptop   675000
Delux M618X Adjustable Angle Wireless Wired Vertical Mouse Bluetooth Ergonomic Rechargeable Mice For Computer Laptop PC   13000000
3200DPI LED Optical 6D USB Wired Gaming Mouse For PC   1130000
FANTECH X9 WIRED MACRO RGB 4800DPI 7 BUTTONS GAMING MOUSE   3290000
【 Cheap Shipping 】3200DPI 3 Buttons USB Wired Luminous Gamer Computer Gaming Mouse   680000
Ergonomic Mouse High Precision Optical Vertical Mouse Adjustable DPI 800/1200/2000/3600 Wired Computer Mouse   2700000
[ProfessionalGaming Mouse]Rechargeable Wireless Silent LED Backlit USB Optical Ergonomic   2099000
Official Salpido M800 Usb Corded 3D Wired Optical Mouse Led Red   480000
Logitech M331 Silent Plus Wireless Mouse   5800000
Logitech M185 Wireless Mouse 1000DPI Office Computer USB Nano Receiver For Laptop Desktop PC Home&office Gaming Mice   1910000
2.4GHz USB 2.0 Wireless Tablet Laptop Computer Gaming Mouse Optical Scroll Mice   701000
PROLiNK Wireless Optical Mouse with On/Off Switch Sirim & MCMC Approval (FREE AA Battery) PMW6001   2300000
2.4Ghz Mini Portable Wireless Optical Gaming Mouse   1450000
HP M100 ENTRY LEVEL USB WIRED OPTICAL SENSOR GAMING MOUSE 4 BUTTONS & ADJUSTABLE 1000 - 1600DPI. CABLE : 1.5M & BLACK   1990000
Apedra A7 USB Wired Gaming Mouse Professional 7 Button Macro Definition Optical Computer Mouse Cable Mice For Laptop PC   2700000
Logitech B100 Optical USB Mouse   1497000
Ultra-thin USB Optical Wireless Mouse FashionZone1.my   644000
Redragon M710 Optical USB Wired Gaming Mouse Laser Programmable Mice Backlight Ergonomic For Laptop PC Computer Notebook   7900000
Original Bluetooth Mouse Logitech Mouse Logitech M330 Silent Plus Wireless Mouse Gaming Mouse Mice Logitech   1399000
HP X3000 WIRELESS MOUSE (100% ORIGINAL HP MALAYSIA) - M170 M171 M185 M187 M235 M238 M100 M100R B175   3999000
Cliptec INNOVIF 1600dpi 2.4GHz RZS857 Wireless Mouse   1333000
【Ready Stock】ASUS WIRELESS MOUSE 2.4 G   899000
Alcatroz X-Craft Classic Gaming Mouse (2400 CPI) 4 Button Free Charging Cable   1590000
SENSONIC MX350 Cordless Optical Wireless Mouse (m170, m331, m221, m330, m185 )   1139000
Logitech M331 Silent Plus Wireless Mouse - Black 910-004914   6840000
2.4Ghz Mini Portable Wireless Mouse USB Optical Game Gaming Mouse Mice For PC   1000000
8.5 Inch Portable Digital LCD Writing Tablet Electronic Drawing Notepad   1279000
XIAOMI Mi Portable Mouse Bluetooth 4.0 + 2.4GHz, Mi Wireless Mouse RF   3800000
Wechip W1 2.4G Air Mouse Wireless Keyboard Remote Control   4180000
DELL 2.4G WIRELESS OPTICAL MOUSE WIRELESS MOUSE OEM   1399000
HP X500 Optical Wired USB Mouse Black 3 Buttons USB Mice   1400000
Original Logitech M331 | M330 Silent Plus Wireless Mouse | M170 Wireless Mouse | B100   980000

In [0]:
import requests

headers = {
    'User-Agent': 'Mozilla/5',
    'Referer': 'https://shopee.com.my/applewish.my'
}

url = 'https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=62701278&newest=0&order=desc&page_type=shop&version=2'  
r = requests.get(url, headers = headers).json()

for item in r['items']:
    print(item['name'], ' ', item['price'])

Rechargeable X7 Wireless Silent LED Backlit USB Optical Ergonomic Gaming Mouse   2100000
Rechargeable X9 Wireless Silent LED Backlit USB Optical Ergonomic Gaming Mouse   2124000
High Speed Micro USB 3.0 to USB 3.0 Cable External Hard Drive Disk HDD   456000
2018 Fashion Portable MP3 MP4 Player LCD Screen FM Radio Video Games Movie   2505000
Frame Case Cover Shell Screen Protector for Samsung Galaxy Watch Active 40mm   280000
Universal Folio Leather Stand Cover Case For 10 10.1 Inch Android Tablet PC   1125000
Fashion Sports Silicone Band Strap Bracelet + Tool For Garmin Vivosmart HR   675000
Clothes Lint Fuzz Shaver Pill Fluff Remover Fabrics Sweaters Electric   1305000
Crystal Transparent Case For Fuji Fujifilm Instax Mini 25 Polaroid Camera   702000
USB3.0 1TB External Hard Drives Portable Desktop Mobile Hard Disk Case   2025000
USB 3.0 To SATA 22 Pin 2.5 Inch Hard Disk Drive SSD Adapter Connector Cable Lead   1216000
Magnetic USB Charger Recharger for Huawei Honor A2 Smart Watch Band Bracelet   750000
Universal Folio Leather Stand Case For 10 10.1 Inch Android Tablet PC   1298000
2.4G Wireless Vertical USB 6 Keys Mouse Ergonomic Design Optical 2400DPI Mice   1984000
DIY 4*18650 Battery Power Bank Charger Box For iPhone Smartphone   497000
Rechargeable X8 Wireless Silent LED Backlit Optical Ergonomic Gaming Mouse   2278000
TYPE C Rechargeable Wireless LED Optical Ergonomic 2.4G USB Gaming Mouse Mice   3726000
Smart Watch Leather +Silicone Wrist Band Strap For Huawei Watch GT / Active 46mm   2048000
Universal Folio Leather Stand Cover Case For 10 10.1 Inch Android Tablet PC   1125000
6FT 1.8 M Displayport DP Male To DVI-D Male Cable Adapter Core Cable Newest   1043000
Universal Silicone Cover Case For 10 10.1 Inch Android Tablet PC   966000
USB IDE Laptop Notebook CD DVD RW Burner ROM Drive External Case Enclosure   1463000
4800mAh Battery Pack + USB Charger Black Cable For Xbox 360 Wireless Controller   810000
DC102 LCD Display Thermometer Humidity Temperature Hygrometer Meter Clock   1392000
Silicone Replacement Watch Band Wrist Strap For Huawei Honor 4 Running   686000
Professional Colorful Backlight 4000DPI Optical Wired Gaming Mouse Mice   1033000
Luxury PU+Leather Case Kickstand Cover Skin For Microsoft Surface Go 10in 2018   2302000
Home Button Sticker Button Fingerprint Indentification Touch ID for iPhone   232000
Silicone Replacement Watch Band Wrist Strap For Samsung Galaxy Watch Active R500   972000
For Amazon Kindle Fire HD 8 2018 8th Gen Kids Safe EVA Rubber Handle Stand Case   2484000

In [0]:
len(item['name'])

79

In [0]:
import requests

headers = {
    'User-Agent': 'Mozilla/5',
    'Referer': 'https://shopee.com.my/applewish.my'
}

url = 'https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=62701278&newest=30&order=desc&page_type=shop&version=2'  
r = requests.get(url, headers = headers).json()

for item in r['items']:
    print(item['name'], ' ', item['price'])

Protective Shell Skin Silicone Case Cover For Amazon Kindle Fire HD 8 2016/2017   1267000
Cordless Wireless 2.4GHz Optical Mouse Mice for Laptop PC Computer +USB Receiver   850000
4 Pin Molex to 6 Pin PCI-Express PCIE Video Card Power Converter Adapter Cable   100000
Memory Foam Armrest Cushion Pads Elbow Arm Rest Cover Chair Armrest Pads   1309000
9H 2.5D Clear Screen Protector Covers for Microsoft Surface Go 10 inch   1475000
Foldable Cat Ear LED Music Lights Headphone Earphone headset for Laptop MP3   3160000
Ultra Clear Screen Protector Cover Film For MacBook Air Retina 13 inch   355000
10 Pairs Medium Size Clear Silicone Replacement Ear Buds Tips For Sony Phillips   98000
Wireless Bluetooth Charger FM Transmitter Modulator Car Kit MP3 Music Player G7   1817000
Universal Folio Leather Stand Cover Case For 10/10.1 Inch Android Tablet PC   1263000
2.5 SATA TO USB3.1 Type C HDD Hard Disk Drive External HDD Enclosure Case Tool 6   2240000
Universal 2.5D 9H Tempered Glass Film Screen Protector For 10 10.1Inch Tablet PC   1539000
20 PC Cable Winder Earphone Cable Organizer Wire Storage Silicon Charger CL   550000
Sports Silicone Strap Band + 5 PCS Watch Film For Huawei Honor 4 Smart Watch   2343000
Milanese Magnetic Loop Wrist Strap Metal Wristband For Xiaomi Mi Band 4 Watch   2240000
ZELOTES T-60 7200DPI Professional USB Wired Optical 7 Buttons Gaming Mouse   1975000
Mini Zipper Earphone Headphone SD Card Storage Bag Box Carrying Pouch   340000
TPU Frame Cover Case Shell Screen Protector for Samsung Galaxy Watch Active 40mm   567000
Replacement Fast Charging Power Source Charger Dock For Garmin forerunner 945   833000
Bluetooth FM Transmitter FM MP3 Players Modulator Handsfree Dual USB Charger A27   1239000
Wireless Fast Charging Power Source Charger For Samsung Galaxy Watch Active   2211000
1M  2.4A 3in1 USB-C Type C/iOS/ Micro USB Android Round Magnetic Charger   1536000
USB Charging Data Cradle Dock Cable Portable Charger For Fossil 4 Smart Watch   3105000
Sports Soft Silicone Replacement Watch Band Strap for Fitbit Inspire/Inspire HR   480000
5PCS Explosion-proof Clear Pet Screen Protection Film For Samsung Galaxy Fit-e   735000
Type-C USB-C OTG Cable USB3.1 Male To USB2.0 Type-A Female Adapter Connector   354000
For iPad 6th Generation 2018 9.7 Slim Magnetic Leather Cover For Apple   1944000
Sports Soft Silicone Point Wristband Wrist Strap For XIAOMI AMAZFIT cor 2 Watch   1298000
Socket Adapter Splitter 3 USB Port Charger DC 12V 24V Car Cigarette Lighter   918000
4 Way USB Car Cigarette Lighter Socket Splitter 12V/24V Charger Adapter   1106000

Picture code + cf.shopee.com.my
8ab40b4bad1f7af306a25dbac7395d40 <p>
https://cf.shopee.com.my/file/8ab40b4bad1f7af306a25dbac7395d40

example shopee seller id page 1 and page 2 different at newest=0/30 <p>
https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=62701278&newest=0&order=desc&page_type=shop&version=2 <p>
https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=62701278&newest=30&order=desc&page_type=shop&version=2 <p>
https://shopee.com.my/Rechargeable-X7-Wireless-Silent-LED-Backlit-USB-Optical-Ergonomic-Gaming-Mouse-i.62701278.1044444330 <p>
name + shop id + item id <p>
wan auto <p>
https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=11737756&newest=0&order=desc&page_type=shop&version=2 <p>
https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=11737756&newest=2880&order=desc&page_type=shop&version=2

In [0]:
import requests

headers = {
    'User-Agent': 'Mozilla/5',
    'Referer': 'https://shopee.com.my/oneauto2017'
}

url = 'https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=11737756&newest=0&order=desc&page_type=shop&version=2'  
r = requests.get(url, headers = headers).json()

In [0]:
list1 = []
a = ['name', 'price']
for item in r['items']:
  for b in a:
    list1.append(item[b])

In [0]:
import numpy as np
data1 = np.asarray(list1)
data1.shape

(60,)

In [0]:
data1 = data1.reshape(-1,2)

In [0]:
data1.shape

(30, 2)

In [0]:
import pandas as pd
df = pd.DataFrame(data1)
df.head()

                                                   0        1
0  NEW PETRONAS SYNTIUM 800 10W-40 GENUINE SEMI S...  8600000
1  (ORIGINAL PERODUA PARTS) KANCIL DOOR RUBBER (1...  3000000
2  BOSCH SUPER SPORT PLUG CABLE ISWARA WIRA SATRI...  5500000
3  ORIGINAL PROTON PARTS ABSORBER MOUNTING DUST C...  1200000
4  [ORIGINAL PERODUA PARTS] PERODUA VIVA WINDOW O...  3500000

itemid'
welcome_package_info'
liked'
recommendation_info'
bundle_deal_info'
price_max_before_discount'
image'
is_cc_installment_payment_eligible'
shopid'
can_use_wholesale'
group_buy_info'
reference_item_id'
currency'
raw_discount'
show_free_shipping'
video_info_list'
ads_keyword'
collection_id'
images'
match_type'
price_before_discount'
is_category_failed'
show_discount'
cmt_count'
view_count'
display_name'
catid'
json_data'
upcoming_flash_sale'
is_official_shop'
brand'
price_min'
liked_count'
can_use_bundle_deal'
show_official_shop_label'
coin_earn_label'
price_min_before_discount'
cb_option'
sold'
deduction_info'
stock'
status'
price_max'
add_on_deal_info'
is_group_buy_item'
flash_sale'
price'
shop_location'
item_rating'
show_official_shop_label_in_title'
tier_variations'
properties'
type'
options'
is_adult'
discount'
flag'
is_non_cc_installment_payment_eligible'
has_lowest_price_guarantee'
has_group_buy_stock'
preview_info'
welcome_package_type'
name'
distance'
adsid'
ctime'
wholesale_tier_list'
show_shopee_verified_label'
campaignid'
show_official_shop_label_in_normal_position'
item_status'
shopee_verified'
hidden_price_display'
size_chart'
item_type'
shipping_icon_type'
label_ids'
service_by_shopee_flag'
badge_icon_type'
historical_sold'
campaign_stock'

item['itemid'], ' ', 
item['welcome_package_info'], ' ', 
item['liked'], ' ', 
item['recommendation_info'], ' ', 
item['bundle_deal_info'], ' ', 
item['price_max_before_discount'], ' ', 
item['image'], ' ', 
item['is_cc_installment_payment_eligible'], ' ', 
item['shopid'], ' ', 
item['can_use_wholesale'], ' ', 
item['group_buy_info'], ' ', 
item['reference_item_id'], ' ', 
item['currency'], ' ', 
item['raw_discount'], ' ', 
item['show_free_shipping'], ' ', 
item['video_info_list'], ' ', 
item['ads_keyword'], ' ', 
item['collection_id'], ' ', 
item['images'], ' ', 
item['match_type'], ' ', 
item['price_before_discount'], ' ', 
item['is_category_failed'], ' ', 
item['show_discount'], ' ', 
item['cmt_count'], ' ', 
item['view_count'], ' ', 
item['display_name'], ' ', 
item['catid'], ' ', 
item['json_data'], ' ', 
item['upcoming_flash_sale'], ' ', 
item['is_official_shop'], ' ', 
item['brand'], ' ', 
item['price_min'], ' ', 
item['liked_count'], ' ', 
item['can_use_bundle_deal'], ' ', 
item['show_official_shop_label'], ' ', 
item['coin_earn_label'], ' ', 
item['price_min_before_discount'], ' ', 
item['cb_option'], ' ', 
item['sold'], ' ', 
item['deduction_info'], ' ', 
item['stock'], ' ', 
item['status'], ' ', 
item['price_max'], ' ', 
item['add_on_deal_info'], ' ', 
item['is_group_buy_item'], ' ', 
item['flash_sale'], ' ', 
item['price'], ' ', 
item['shop_location'], ' ', 
item['item_rating'], ' ', 
item['show_official_shop_label_in_title'], ' ', 
item['tier_variations'], ' ', 
item['properties'], ' ', 
item['type'], ' ', 
item['options'], ' ', 
item['is_adult'], ' ', 
item['discount'], ' ', 
item['flag'], ' ', 
item['is_non_cc_installment_payment_eligible'], ' ', 
item['has_lowest_price_guarantee'], ' ', 
item['has_group_buy_stock'], ' ', 
item['preview_info'], ' ', 
item['welcome_package_type'], ' ', 
item['name'], ' ', 
item['distance'], ' ', 
item['adsid'], ' ', 
item['ctime'], ' ', 
item['wholesale_tier_list'], ' ', 
item['show_shopee_verified_label'], ' ', 
item['campaignid'], ' ', 
item['show_official_shop_label_in_normal_position'], ' ', 
item['item_status'], ' ', 
item['shopee_verified'], ' ', 
item['hidden_price_display'], ' ', 
item['size_chart'], ' ', 
item['item_type'], ' ', 
item['shipping_icon_type'], ' ', 
item['label_ids'], ' ', 
item['service_by_shopee_flag'], ' ', 
item['badge_icon_type'], ' ', 
item['historical_sold'], ' ', 
item['campaign_stock']

In [0]:
for item in r['items']:
    print(item)

{'itemid': 1240850854, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': '87ff0b45c10ade8112836ff787a3114e', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': True, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [{'duration': 60, 'video_id': 'JsUCsHfitim2QVL-', 'thumb_url': 'bfc09dad2bcb5039dfff0e39205b8ee0'}], 'ads_keyword': None, 'collection_id': None, 'images': ['87ff0b45c10ade8112836ff787a3114e', '09c58088f548d5b89f301c54c84c711f', '043af103aeb54ca97c20aaf2863266fc', 'eb8eeb297e3fbf06b6669ca0d5737b76', 'ee6c2a0808209772ec5bf18ff19f839f', '016135870faed10fe126daafe288350b'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 811, 'view_count': 3795, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Petronas', 'price_min': 8600000, 'liked_count': 761, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 71, 'deduction_info': None, 'stock': 49, 'status': 1, 'price_max': 8600000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 8600000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 4.960494, 'rating_count': [810, 1, 2, 1, 20, 786], 'rcount_with_image': 207, 'rcount_with_context': 413}, 'show_official_shop_label_in_title': False, 'tier_variations': [{'images': ['7a68d124c64c2bea1d29e41a731decb7', '0f231cb9384d24b50bf144fe54a00837', 'fbdfa90f8a5b8d2373b374b8c67598e9'], 'properties': None, 'type': 0, 'name': 'FREE GIFT TYPE', 'options': ['2 Cooling Towels', 'Waze phone holder', 'WIPER FLUID ADDITIVE']}], 'is_adult': None, 'discount': None, 'flag': 131074, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': 'NEW PETRONAS SYNTIUM 800 10W-40 GENUINE SEMI SYNTHETIC ENGINE OIL WITH FREE GIFT', 'distance': None, 'adsid': None, 'ctime': 1528816592, 'wholesale_tier_list': [{'min_count': 3, 'price': 8400000, 'max_count': None}], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 1238, 'campaign_stock': None}
{'itemid': 1634981959, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': 'd63117acaf166e3af145688b2a981d54', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': True, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [], 'ads_keyword': None, 'collection_id': None, 'images': ['d63117acaf166e3af145688b2a981d54', '847c28c2f2f9645d645cf7b7361f6e5b'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 66, 'view_count': 1958, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Perodua', 'price_min': 3000000, 'liked_count': 477, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 27, 'deduction_info': None, 'stock': 182, 'status': 1, 'price_max': 3000000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 3000000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 4.863636, 'rating_count': [66, 2, 0, 0, 1, 63], 'rcount_with_image': 15, 'rcount_with_context': 20}, 'show_official_shop_label_in_title': False, 'tier_variations': [{'images': None, 'properties': None, 'type': None, 'name': 'Color', 'options': ['REAR RIGHT', 'REAR LEFT', 'FRNT RIGHT DPN KANAN', 'FRNT LEFT DPN KIRI']}], 'is_adult': None, 'discount': None, 'flag': 131074, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': '(ORIGINAL PERODUA PARTS) KANCIL DOOR RUBBER (1 PIECE) GETAH PINTU', 'distance': None, 'adsid': None, 'ctime': 1541476631, 'wholesale_tier_list': [{'min_count': 4, 'price': 2900000, 'max_count': None}], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 146, 'campaign_stock': None}
{'itemid': 97691207, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': 'efbc8bc7e4378b90750e76afb83a6fd2', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': False, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [], 'ads_keyword': None, 'collection_id': None, 'images': ['efbc8bc7e4378b90750e76afb83a6fd2', '6bf1d792779f9f46020b65fb6cd5fb2c', '0ec83153a3247b872341b2cc74a671a7', '26e039c3c7e3d00c6cb15ae740047621', '966daa687749f7865a355ce2a0701afa', '6c98f43bc441bb565657be03f37fba86'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 221, 'view_count': 1087, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Bosch', 'price_min': 5500000, 'liked_count': 528, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 9, 'deduction_info': None, 'stock': 7, 'status': 1, 'price_max': 5500000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 5500000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 4.913636, 'rating_count': [220, 0, 2, 2, 9, 207], 'rcount_with_image': 44, 'rcount_with_context': 119}, 'show_official_shop_label_in_title': False, 'tier_variations': [], 'is_adult': None, 'discount': None, 'flag': 131074, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': 'BOSCH SUPER SPORT PLUG CABLE ISWARA WIRA SATRIA 4G13/4G15 MMC 12V', 'distance': None, 'adsid': None, 'ctime': 1480251484, 'wholesale_tier_list': [], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 334, 'campaign_stock': None}
{'itemid': 1635140039, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': '2ef3a1eec016250b9d1c13279a1a516e', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': False, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [], 'ads_keyword': None, 'collection_id': None, 'images': ['2ef3a1eec016250b9d1c13279a1a516e'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 58, 'view_count': 1275, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Proton', 'price_min': 1200000, 'liked_count': 303, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 15, 'deduction_info': None, 'stock': 61, 'status': 1, 'price_max': 1200000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 1200000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 4.932203, 'rating_count': [59, 0, 1, 0, 1, 57], 'rcount_with_image': 12, 'rcount_with_context': 14}, 'show_official_shop_label_in_title': False, 'tier_variations': [], 'is_adult': None, 'discount': None, 'flag': 131074, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': 'ORIGINAL PROTON PARTS ABSORBER MOUNTING DUST COVER (2pcs) PROTON WAJA WIRA GEN2', 'distance': None, 'adsid': None, 'ctime': 1541479933, 'wholesale_tier_list': [], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 91, 'campaign_stock': None}
{'itemid': 1818942986, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': '14616b260e4514e9365ed733d9d0be58', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': False, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [], 'ads_keyword': None, 'collection_id': None, 'images': ['14616b260e4514e9365ed733d9d0be58', 'e5128d57ac296d4f5db4b7825ad2390a'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 71, 'view_count': 1224, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Perodua', 'price_min': 3500000, 'liked_count': 223, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 19, 'deduction_info': None, 'stock': 12, 'status': 1, 'price_max': 3500000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 3500000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 4.859155, 'rating_count': [71, 1, 0, 1, 4, 65], 'rcount_with_image': 15, 'rcount_with_context': 22}, 'show_official_shop_label_in_title': False, 'tier_variations': [{'images': None, 'properties': None, 'type': None, 'name': 'Color', 'options': ['Front Left', 'Front Right / Driver', 'Rear Left', 'Rear Right', '1 Car = 4 pcs']}], 'is_adult': None, 'discount': None, 'flag': 2, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': '[ORIGINAL PERODUA PARTS] PERODUA VIVA WINDOW OUTER RUBBER MOULDING (1 PCS)', 'distance': None, 'adsid': None, 'ctime': 1546941340, 'wholesale_tier_list': [], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 104, 'campaign_stock': None}
{'itemid': 511246850, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': 'aa312d6c34b189ad0b1362ac44c477d9', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': False, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [], 'ads_keyword': None, 'collection_id': None, 'images': ['aa312d6c34b189ad0b1362ac44c477d9', '2c67c3cbdc0e9bc4924e3a6474b6dbaa', '53f2c1bb924188c734aed1c96865e816'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 97, 'view_count': 1753, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Bosch', 'price_min': 1800000, 'liked_count': 222, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 10, 'deduction_info': None, 'stock': 7, 'status': 1, 'price_max': 3500000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 1800000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 4.915789, 'rating_count': [95, 0, 0, 2, 4, 89], 'rcount_with_image': 12, 'rcount_with_context': 51}, 'show_official_shop_label_in_title': False, 'tier_variations': [{'images': None, 'properties': None, 'type': None, 'name': 'Variations', 'options': ['H11 (1PCS BULB ONLY)', 'H11 2PCS BULB']}], 'is_adult': None, 'discount': None, 'flag': 131074, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': 'BOSCH H11 BULB  MYVI LAGI BEST, SAGA FL,FLX,WISH/ MOST CAR FOGLIGHT', 'distance': None, 'adsid': None, 'ctime': 1506050280, 'wholesale_tier_list': [], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 184, 'campaign_stock': None}
{'itemid': 194164269, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': '375f3e9aea33f68b42e125b14342e55c', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': True, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [], 'ads_keyword': None, 'collection_id': None, 'images': ['375f3e9aea33f68b42e125b14342e55c', 'ace2a1c314016112b86b42e2abea8418', '2f3a01b58cc0af70598aabee0b08f186', '37dde0debe8e88c2e0725c6d7c353c4e', '4a7025a3da0ff2af3d98ba005f9b1bae'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 238, 'view_count': 760, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Perodua', 'price_min': 3400000, 'liked_count': 308, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 6, 'deduction_info': None, 'stock': 34, 'status': 1, 'price_max': 3400000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 3400000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 4.960177, 'rating_count': [226, 0, 0, 2, 5, 219], 'rcount_with_image': 25, 'rcount_with_context': 149}, 'show_official_shop_label_in_title': False, 'tier_variations': [], 'is_adult': None, 'discount': None, 'flag': 131074, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': 'ORIGINAL PERODUA BRAKE PAD FOR PERODUA MYVI LAGI BEST / AXIA 1.0 / BEZZA (FRONT)', 'distance': None, 'adsid': None, 'ctime': 1490539421, 'wholesale_tier_list': [{'min_count': 10, 'price': 3200000, 'max_count': None}], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 387, 'campaign_stock': None}
{'itemid': 765829486, 'welcome_package_info': None, 'liked': False, 'recommendation_info': None, 'bundle_deal_info': None, 'price_max_before_discount': -1, 'image': '479648fc8e7ab22c9511220bc7db91d8', 'is_cc_installment_payment_eligible': False, 'shopid': 11737756, 'can_use_wholesale': False, 'group_buy_info': None, 'reference_item_id': '', 'currency': 'MYR', 'raw_discount': None, 'show_free_shipping': True, 'video_info_list': [], 'ads_keyword': None, 'collection_id': None, 'images': ['479648fc8e7ab22c9511220bc7db91d8', 'c3f09ef0453627b449f61476eb31346a'], 'match_type': None, 'price_before_discount': 0, 'is_category_failed': False, 'show_discount': 0, 'cmt_count': 65, 'view_count': 216, 'display_name': None, 'catid': 16564, 'json_data': None, 'upcoming_flash_sale': None, 'is_official_shop': False, 'brand': 'Perodua', 'price_min': 1500000, 'liked_count': 100, 'can_use_bundle_deal': False, 'show_official_shop_label': False, 'coin_earn_label': None, 'price_min_before_discount': -1, 'cb_option': 0, 'sold': 4, 'deduction_info': None, 'stock': 23, 'status': 1, 'price_max': 1500000, 'add_on_deal_info': None, 'is_group_buy_item': None, 'flash_sale': None, 'price': 1500000, 'shop_location': 'Selangor', 'item_rating': {'rating_star': 5.0, 'rating_count': [65, 0, 0, 0, 0, 65], 'rcount_with_image': 13, 'rcount_with_context': 35}, 'show_official_shop_label_in_title': False, 'tier_variations': [], 'is_adult': None, 'discount': None, 'flag': 131074, 'is_non_cc_installment_payment_eligible': False, 'has_lowest_price_guarantee': False, 'has_group_buy_stock': None, 'preview_info': None, 'welcome_package_type': 0, 'name': 'ORIGINAL PERODUA MYVI/MYVI LAGI BEST STABILIZER BAR BUSH (1 PAIR)', 'distance': None, 'adsid': None, 'ctime': 1513527245, 'wholesale_tier_list': [], 'show_shopee_verified_label': True, 'campaignid': None, 'show_official_shop_label_in_normal_position': None, 'item_status': 'normal', 'shopee_verified': True, 'hidden_price_display': None, 'size_chart': None, 'item_type': 0, 'shipping_icon_type': None, 'label_ids': [], 'service_by_shopee_flag': 0, 'badge_icon_type': 0, 'historical_sold': 103, 'campaign_stock': None}

In [0]:
import requests

headers = {
    'User-Agent': 'Mozilla/5',
    'Referer': 'https://shopee.com.my/oneauto2017'
}

url = 'https://shopee.com.my/api/v2/item/get?itemid=1240850854&shopid=11737756'  
r = requests.get(url, headers = headers).json()


for a in r['item']:
    print(a)

itemid
price_max_before_discount
item_status
can_use_wholesale
show_free_shipping
estimated_days
is_hot_sales
is_slash_price_item
upcoming_flash_sale
slash_lowest_price
condition
add_on_deal_info
is_non_cc_installment_payment_eligible
categories
ctime
name
show_shopee_verified_label
size_chart
is_pre_order
service_by_shopee_flag
historical_sold
reference_item_id
recommendation_info
bundle_deal_info
price_max
has_lowest_price_guarantee
shipping_icon_type
images
price_before_discount
cod_flag
catid
is_official_shop
coin_earn_label
hashtag_list
sold
makeup
item_rating
show_official_shop_label_in_title
discount
reason
label_ids
has_group_buy_stock
attributes
badge_icon_type
liked
cmt_count
image
is_cc_installment_payment_eligible
shopid
video_info_list
installment_plans
view_count
liked_count
show_official_shop_label
price_min_before_discount
show_discount
preview_info
flag
wholesale_tier_list
group_buy_info
shopee_verified
hidden_price_display
welcome_package_info
coin_info
is_adult
currency
raw_discount
is_category_failed
price_min
can_use_bundle_deal
cb_option
brand
stock
status
bundle_deal_id
is_group_buy_item
description
flash_sale
models
price
shop_location
tier_variations
makeups
welcome_package_type
show_official_shop_label_in_normal_position
item_type

In [0]:
import time
import requests
import json

headers = {
    'User-Agent': 'Mozilla/5',
    'Referer': 'https://shopee.com.my/oneauto2017'
}

url = 'https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=11737756&newest=0&order=desc&page_type=shop&version=2'  
r = requests.get(url, headers = headers)
api_data = json.loads(r.text)

In [0]:
url1 = 'https://shopee.com.my/api/v2/search_items/?by=pop&limit=30&match_id=11737756&newest=30&order=desc&page_type=shop&version=2'  
r1 = requests.get(url1, headers = headers)
api_data1 = json.loads(r1.text)

In [0]:
import pandas as pd

In [0]:
elevations = json.dumps(api_data['items'])
df = pd.read_json(elevations)

In [0]:
elevations1 = json.dumps(api_data1['items'])
df1 = pd.read_json(elevations1)

In [0]:
data = pd.DataFrame()
data = data.append(df)
data = data.append(df1)

In [0]:
data

In [0]:
df_row = pd.concat([df, df1])

In [0]:
df_row

    index      itemid  ...  historical_sold  transparent_background_image
0       0  1240850854  ...             1265
1       1  1634981959  ...              149
2       2    97691207  ...              341
3       3  1818942986  ...              107
4       4  1635140039  ...               95
5       5  1334224522  ...              198
6       6   511246850  ...              189
7       7  1458611069  ...                5
8       8  2000181367  ...              135
9       9   194164269  ...              403
10     10   303737703  ...               40
11     11   765829486  ...              104
12     12   535982286  ...              126
13     13  1500839756  ...              125
14     14   883418138  ...               39
15     15   312841737  ...               95
16     16   365018654  ...               58
17     17   159162765  ...               18
18     18   299888671  ...              177
19     19   374973326  ...               64
20     20   250030732  ...              121
21     21   427659706  ...               71
22     22  1635049979  ...               21
23     23  1311841641  ...               53
24     24  1556049005  ...               91
25     25  1574353563  ...               18
26     26   677145069  ...              242
27     27   202807559  ...              283
28     28  1936870566  ...               56
29     29   263322863  ...              109
30      0  1873661598  ...               42
31      1   171862881  ...              153
32      2  1926609135  ...                9
33      3   814565665  ...               56
34      4  1494514702  ...               33
35      5   414709534  ...               96
36      6   368401374  ...               80
37      7  1262438440  ...               70
38      8   413771581  ...              102
39      9  2000198033  ...               28
40     10  1680865721  ...               36
41     11    97351955  ...               61
42     12   104391506  ...              100
43     13  1631154901  ...               11
44     14   275937821  ...               18
45     15   975449909  ...               29
46     16   322807403  ...               56
47     17  2270505773  ...               12
48     18  1555834293  ...               45
49     19    83663966  ...              343
50     20   268535758  ...               37
51     21  2286888746  ...                5
52     22  2324540072  ...                9
53     23  1260259625  ...               38
54     24   537093596  ...              374
55     25  2009714203  ...               12
56     26  1906483995  ...               27
57     27  2273505107  ...               22
58     28    97693240  ...              106
59     29  2288245517  ...               26

[60 rows x 80 columns]

In [0]:
df_row.reset_index()

In [0]:
import time
import requests
import json
import pandas as pd

def shopeeAPI_Scraper(n_page):
    df = pd.DataFrame()
    headers = {'User-Agent': 'Mozilla/5', 'Referer': 'https://shopee.com.my/oneauto2017'}

    for i in range(n_page):
      n_items = i*90
      url = f'https://shopee.com.my/api/v2/search_items/?by=pop&limit=90&match_id=11737756&newest={n_items}&order=desc&page_type=shop&version=2'
      r = requests.get(url,headers=headers)
      api_data = json.loads(r.text)
      elevations = json.dumps(api_data['items'])
      data = pd.read_json(elevations)
      df = df.append(data)
  
      time.sleep(10)
    return df.to_csv('/content/drive/My Drive/Colab Notebooks/oneauto6.11.2019.csv')

In [0]:
shopeeAPI_Scraper(32)

In [0]:
dff=pd.read_csv('/content/drive/My Drive/Colab Notebooks/oneauto6.11.2019.csv')

In [0]:
#total missing value actually is failed to scrap
dff.price_min.isnull().sum()

1324

In [0]:
dff.shape

(2854, 80)

In [0]:
#total number that sucessfully scrap (1530/90=17 able to scrap 1st 17 pages)
dff.shape[0]-dff.price_min.isnull().sum()

1530

In [0]:
def test(n_page):
  for i in range(n_page):
    n_items = i*90
    print(n_items)

In [0]:
test(32)

0
90
180
270
360
450
540
630
720
810
900
990
1080
1170
1260
1350
1440
1530
1620
1710
1800
1890
1980
2070
2160
2250
2340
2430
2520
2610
2700
2790

In [0]:
import time
import requests
import json

url1 = 'https://shopee.com.my/api/v2/item/get?itemid=1240850854&shopid=11737756'
headers = {'User-Agent': 'Mozilla/5', 'Referer': 'https://shopee.com.my/oneauto2017'}
    
r = requests.get(url1,headers=headers)
api1_data = json.loads(r.text)

In [5]:
api1_data

{'data': None,
 'error': None,
 'error_msg': None,
 'item': {'add_on_deal_info': None,
  'attributes': [{'id': 19658,
    'idx': 0,
    'is_pending_qc': False,
    'is_timestamp': False,
    'name': 'Brand',
    'value': 'Petronas'},
   {'id': 20854,
    'idx': 1,
    'is_pending_qc': True,
    'is_timestamp': False,
    'name': 'Model',
    'value': 'Syntium 800'},
   {'id': 19660,
    'idx': 2,
    'is_pending_qc': True,
    'is_timestamp': False,
    'name': 'Engine Oil Type',
    'value': 'Semi Synthetic'},
   {'id': 19659,
    'idx': 3,
    'is_pending_qc': True,
    'is_timestamp': False,
    'name': 'Viscosity',
    'value': '10W-40'},
   {'id': 20855,
    'idx': 4,
    'is_pending_qc': True,
    'is_timestamp': False,
    'name': "What's in the Box",
    'value': 'Engine Oil'}],
  'badge_icon_type': 0,
  'brand': 'Petronas',
  'bundle_deal_id': 0,
  'bundle_deal_info': None,
  'can_use_bundle_deal': False,
  'can_use_wholesale': True,
  'categories': [{'block_buyer_platform': None,
    'catid': 16564,
    'display_name': 'Automotive',
    'image': None,
    'is_default_subcat': False,
    'no_sub': False},
   {'block_buyer_platform': None,
    'catid': 16572,
    'display_name': 'Car Oils & Fluids',
    'image': None,
    'is_default_subcat': False,
    'no_sub': False},
   {'block_buyer_platform': None,
    'catid': 16574,
    'display_name': 'Engine Oil',
    'image': None,
    'is_default_subcat': False,
    'no_sub': True}],
  'catid': 16564,
  'cb_option': 0,
  'cmt_count': 837,
  'cod_flag': 0,
  'coin_earn_label': None,
  'coin_info': {'coin_earn_items': [{'coin_earn': 86,
     'itemid': 1240850854,
     'modleid': None},
    {'coin_earn': 86, 'itemid': 1240850854, 'modleid': None},
    {'coin_earn': 86, 'itemid': 1240850854, 'modleid': None}],
   'spend_cash_unit': 1000},
  'condition': 1,
  'ctime': 1528816592,
  'currency': 'MYR',
  'description': 'NEW PETRONAS SYNTIUM 800 10W-40 SEMI SYNTHETIC ENGINE OIL WITH FREE GIFT\n\nItem: PETRONAS ENGINE OIL\nVISCOSITY: 10W-40\nAPI SN\nYEAR OF PRODUCT: 2019\nMALAYSIA PRODUCT. NOT THAILAND NOT EUROPE \n\nFree gift detail\n2 PCS OF COOLING TOWEL',
  'discount': None,
  'estimated_days': 2,
  'flag': 131074,
  'flash_sale': None,
  'group_buy_info': None,
  'has_group_buy_stock': False,
  'has_lowest_price_guarantee': False,
  'hashtag_list': [],
  'hidden_price_display': None,
  'historical_sold': 1278,
  'image': '87ff0b45c10ade8112836ff787a3114e',
  'images': ['87ff0b45c10ade8112836ff787a3114e',
   '09c58088f548d5b89f301c54c84c711f',
   '043af103aeb54ca97c20aaf2863266fc',
   'eb8eeb297e3fbf06b6669ca0d5737b76',
   'ee6c2a0808209772ec5bf18ff19f839f',
   '016135870faed10fe126daafe288350b'],
  'installment_plans': None,
  'is_adult': None,
  'is_category_failed': False,
  'is_cc_installment_payment_eligible': False,
  'is_group_buy_item': None,
  'is_hot_sales': None,
  'is_non_cc_installment_payment_eligible': False,
  'is_official_shop': False,
  'is_pre_order': False,
  'is_slash_price_item': False,
  'item_rating': {'rating_count': [836, 1, 3, 1, 20, 811],
   'rating_star': 4.958134,
   'rcount_with_context': 418,
   'rcount_with_image': 212},
  'item_status': 'normal',
  'item_type': 0,
  'itemid': 1240850854,
  'label_ids': [],
  'liked': False,
  'liked_count': 808,
  'makeup': None,
  'makeups': None,
  'models': [{'currency': 'MYR',
    'extinfo': {'group_buy_info': None,
     'has_shopee_promo': None,
     'holiday_mode_old_stock': None,
     'seller_promotion_limit': None,
     'seller_promotion_refresh_time': 0,
     'tier_index': [0]},
    'itemid': 1240850854,
    'modelid': 4242875119,
    'name': '2 Cooling Towels',
    'price': 8600000,
    'price_before_discount': 0,
    'promotionid': 0,
    'sold': 365,
    'status': 1,
    'stock': 0},
   {'currency': 'MYR',
    'extinfo': {'group_buy_info': None,
     'has_shopee_promo': None,
     'holiday_mode_old_stock': None,
     'seller_promotion_limit': None,
     'seller_promotion_refresh_time': 0,
     'tier_index': [1]},
    'itemid': 1240850854,
    'modelid': 5319610243,
    'name': 'Waze phone holder',
    'price': 8600000,
    'price_before_discount': 0,
    'promotionid': 0,
    'sold': 56,
    'status': 1,
    'stock': 0},
   {'currency': 'MYR',
    'extinfo': {'group_buy_info': None,
     'has_shopee_promo': None,
     'holiday_mode_old_stock': None,
     'seller_promotion_limit': None,
     'seller_promotion_refresh_time': 0,
     'tier_index': [2]},
    'itemid': 1240850854,
    'modelid': 8536094541,
    'name': 'WIPER FLUID ADDITIVE',
    'price': 8600000,
    'price_before_discount': 0,
    'promotionid': 0,
    'sold': 14,
    'status': 1,
    'stock': 33}],
  'name': 'NEW PETRONAS SYNTIUM 800 10W-40 GENUINE SEMI SYNTHETIC ENGINE OIL WITH FREE GIFT',
  'preview_info': None,
  'price': 8600000,
  'price_before_discount': 0,
  'price_max': 8600000,
  'price_max_before_discount': -1,
  'price_min': 8600000,
  'price_min_before_discount': -1,
  'raw_discount': None,
  'reason': '',
  'recommendation_info': None,
  'reference_item_id': '',
  'service_by_shopee_flag': 0,
  'shipping_icon_type': 0,
  'shop_location': 'Selangor',
  'shopee_verified': True,
  'shopid': 11737756,
  'show_discount': 0,
  'show_free_shipping': True,
  'show_official_shop_label': False,
  'show_official_shop_label_in_normal_position': None,
  'show_official_shop_label_in_title': False,
  'show_shopee_verified_label': True,
  'size_chart': None,
  'slash_lowest_price': None,
  'sold': 39,
  'status': 1,
  'stock': 33,
  'tier_variations': [{'images': ['7a68d124c64c2bea1d29e41a731decb7',
     '0f231cb9384d24b50bf144fe54a00837',
     'fbdfa90f8a5b8d2373b374b8c67598e9'],
    'name': 'FREE GIFT TYPE',
    'options': ['2 Cooling Towels',
     'Waze phone holder',
     'WIPER FLUID ADDITIVE'],
    'properties': None,
    'type': 0}],
  'transparent_background_image': '',
  'upcoming_flash_sale': None,
  'video_info_list': [{'duration': 60,
    'thumb_url': 'bfc09dad2bcb5039dfff0e39205b8ee0',
    'video_id': 'JsUCsHfitim2QVL-'}],
  'view_count': None,
  'welcome_package_info': None,
  'welcome_package_type': 0,
  'wholesale_tier_list': [{'max_count': None,
    'min_count': 3,
    'price': 8400000}]},
 'version': '4065c46aa53645438636b31a4801dac3'}

In [14]:
import pandas as pd
elevations = json.dumps(api1_data['item']['categories'])
elevations

'[{"display_name": "Automotive", "catid": 16564, "image": null, "no_sub": false, "is_default_subcat": false, "block_buyer_platform": null}, {"display_name": "Car Oils & Fluids", "catid": 16572, "image": null, "no_sub": false, "is_default_subcat": false, "block_buyer_platform": null}, {"display_name": "Engine Oil", "catid": 16574, "image": null, "no_sub": true, "is_default_subcat": false, "block_buyer_platform": null}]'

In [15]:
data = pd.read_json(elevations)
data

        display_name  catid  ...  is_default_subcat  block_buyer_platform
0         Automotive  16564  ...              False                   NaN
1  Car Oils & Fluids  16572  ...              False                   NaN
2         Engine Oil  16574  ...              False                   NaN

[3 rows x 6 columns]

In [13]:

elevations = json.dumps(api1_data['item'])
data = pd.read_json(elevations)
data

ValueError: ignored